<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.carlmercier.alfred-copy-ssh</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>788E96ED-78A1-47B5-9CA8-E0894068035F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A40D469D-6CDE-4E17-9BB8-E68B57427716</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C41CB390-052A-4722-814D-BF8A111F193B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9D6DBCF-A28C-4D8B-B1ED-37DB8AB54789</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1D351A0-86CE-4ACF-B4D6-012BAFF414D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C41CB390-052A-4722-814D-BF8A111F193B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>788E96ED-78A1-47B5-9CA8-E0894068035F</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy and paste to current application</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Carl Mercier</string>
	<key>description</key>
	<string>Copy your public key to clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Copy SSH Public Key</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E9D6DBCF-A28C-4D8B-B1ED-37DB8AB54789</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>print File.open(File.expand_path(ENV['PUBLIC_KEY_PATH'])).read.strip.chomp</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C41CB390-052A-4722-814D-BF8A111F193B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>publickey</string>
				<key>subtext</key>
				<string>Copy your SSH public key to clipboard</string>
				<key>text</key>
				<string>Copy SSH Public Key</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D1D351A0-86CE-4ACF-B4D6-012BAFF414D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>print File.open(File.expand_path(ENV['PUBLIC_KEY_PATH'])).read.strip.chomp</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>788E96ED-78A1-47B5-9CA8-E0894068035F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A40D469D-6CDE-4E17-9BB8-E68B57427716</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Change the `PUBLIC_KEY_PATH` variable if your public path differs from `~/.ssh/id_rsa.pub`.</string>
	<key>uidata</key>
	<dict>
		<key>788E96ED-78A1-47B5-9CA8-E0894068035F</key>
		<dict>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>A40D469D-6CDE-4E17-9BB8-E68B57427716</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>C41CB390-052A-4722-814D-BF8A111F193B</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>D1D351A0-86CE-4ACF-B4D6-012BAFF414D4</key>
		<dict>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>E9D6DBCF-A28C-4D8B-B1ED-37DB8AB54789</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>PUBLIC_KEY_PATH</key>
		<string>~/.ssh/id_rsa.pub</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/cmer/alfred-copy-ssh</string>
</dict>
</plist>
